extends layout

block content
	include menu.jade
	div.container-fluid
		h1= title
		
		div.row.about
			.col-md-12
				p To make our map more complex and to offer a more effective analysis tool we have collaborated with : Octavian Costache, developer of hartapoliticii.ro
					br
					br
					| We would like to thank Mr. Bogdan Manolea for his kind help and support.
		
		h2  Copyright Notice
		
		div.row.about
			.col-md-12
				p 
					| The current project has been developed by 
					a(href="http://thesponge.eu/", target="_blank") TheSponge
					| , a journalistic project in Romania owned by 
					a(href="https://www.crji.org/", target="_blank") CRJI
					| . All information presented are of public interest.
					br
					br
					| Sources of the information are:
				ul
					li The Central Bureau of Elections
					li The National Institute of Statistics
					li The National Agency for Cadastre and Land Registration
					li  
						a(href="http://www.ancpi.ro/dwf/INDEX_1_2.dwf", target="_blank") http://www.ancpi.ro/dwf/INDEX_1_2.dwf
						|  and derivative works of the above.
						
				p The origin (and not the source) of some information can't be disclosed due to the protection of journalistic sources.
					br
					br
					| All the information and works in the current website are available in the public domain or are licenced via 
					a(href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US", target="_blank") Creative Commons Attribution-ShareAlike 3.0 Unported License 
					| (as applicable). The source code of the application is licenced under 
					a(href="http://opensource.org/licenses/GPL-3.0", target="_blank") GPLv3
					| . All data and code source are available for download on the webpage 
					a(href="http://www.politicalcolours.ro/", target="_blank") www.politicalcolours.ro 
					| for personal use.
					br
					br
					| By our knowledge, for any re-use of the data in a public commercial or non-commercial project please note that certain information may be protected by the sui-generis database right of some Romanian public institutions.
					br
					br
					The contributors of this project would like to emphasize the public character of all the data used in this project and the necessity of availability of all these data in an open data format and licence from all Romanian public bodies and as soon as possible.
					br
					br
					All images, maps, screenshots and text from the current site may be reproduced freely on any other media, if the work is correctly attributed to 'PoliticalColours.ro - Project of TheSponge.eu. Some Rights Reserved'.
					br
					br
					| Please 
					a(href="mailto:contact@politicalcolours.ro") contact us
					|  if you want any further details regarding the copyright status of various data present in the website.

block scripts
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
	script(src='/libs/bootstrap/js/bootstrap.min.js')
	script(src='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js')