extends layout

block content
	include menu.jade
	div.container-fluid
		
		h1= title
		
		div.row 
			.col-md-7
				h2.feedback
					- each message in messages
						div.clearfix
							blockquote.example-right
								p 
									| #{message.content}
							p
								| #{message.name}
					
			.col-md-4.col-md-offset-1
				
				h3 Add a new message
				form(role='form', method='post')
					.form-group
						label(for='name') First and last name
						input#name.form-control(type='text', placeholder='Enter your name', name='name', required='')
					.form-group
						label(for='email') Email address
						input#email.form-control(type='email', placeholder='Enter email', name='email', required='')
					.form-group
						label(for='content') Message to send
						textarea#content.form-control(type='email', placeholder='Enter message', name='content', required='')
					button.btn.btn-default.btn-lg(type='submit') Submit
block scripts
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
	script(src=path+'/libs/bootstrap/js/bootstrap.min.js')
	script(src='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js')