div.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
	div.container-fluid
		div.navbar-header
			button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			div.navbar-icon-container
			a.navbar-brand(href="/") Politicalcolours.ro
			
		div.navbar-collapse.collapse
			ul.nav.navbar-nav
				li.dropdown
					a#maplist.dropdown-toggle(href="#" role="button" data-toggle="dropdown")
						i.fa.fa-cloud-download.white
							|&nbsp;&nbsp;Maps 
						b.caret
					ul.dropdown-menu(role="menu")
						li
							a#link1(href="/map_local" data-toggle="collapse" data-target=".navbar-collapse.in")
								i.fa.fa-download 
								|&nbsp;&nbsp;Local admin
						li
							a#link1(href="/map_chamber_of_deputies" data-toggle="collapse" data-target=".navbar-collapse.in")
								i.fa.fa-download 
								|&nbsp;&nbsp;Chamber of Deputies
						li
							a#link1(href="/map_senate" data-toggle="collapse" data-target=".navbar-collapse.in")
								i.fa.fa-download 
								|&nbsp;&nbsp;Senate
						li
							a#link1(href="/statistics" data-toggle="collapse" data-target=".navbar-collapse.in")
								i.fa.fa-download 
								|&nbsp;&nbsp;Statistics
			ul.nav.navbar-nav.navbar-right
				li
					a#link1(href="/about" data-toggle="collapse" data-target=".navbar-collapse.in")
						i.fa 
						|About the project
				li
					a#link1(href="/integration" data-toggle="collapse" data-target=".navbar-collapse.in")
						i.fa 
						|Integration
				li
					a#link1(href="/collaborators" data-toggle="collapse" data-target=".navbar-collapse.in")
						i.fa 
						|Collaborators and Data Sources
				li
					a#link1(href="/feedback" data-toggle="collapse" data-target=".navbar-collapse.in")
						i.fa 
						|Feedback