body {
        padding-top: 50px;

        height: 100%;
        width: 100%;
        position: absolute;
        
        min-width: 400px;
}

.wrapper {
        height: inherit !important; 
        overflow-x: auto;
}
#map {
        height: inherit;
}

.dropdown-menu li a {
        padding-top: 10px;
        padding-bottom: 10px;
}

.navbar {
        min-width: 400px;
}
@media (max-width: 1050px) {
        .navbar-toggle {
                display: block;
        }
        .navbar-collapse.collapse {
                content: " ";
        }
}