extends ../layout

block content
    include ../menu.jade
    div#container
        h1= title
        p Welcome to #{title}
block scripts
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src=path+'/libs/bootstrap/js/bootstrap.min.js')
    script(src='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js')